$white: #FFFFFF
$orange: #F47E51
$red: #EC6A6A
$gradient: linear-gradient(210.11deg, #EC6A6A 5.87%, #F47E51 90.46%)
$black: #2F3338
$grey: #F1F0F0
$wgrey: #FAFAFA
*
	box-sizing: border-box
	margin: 0
	padding: 0
button
	border-radius: 30px
	height: 56px
	font-size: 18px
	@media (max-width: 1439px)
		font-size: 16px
	@media (max-width: 1239px)
		font-size: 15px
		height: 51px
body
	background-color: $wgrey
	width: 100vw
	color: $black
	font-family: Roboto
	overflow-x: hidden
a
	font-family: Roboto
	text-decoration: none
	color: $black
	text-decoration: none
li
	list-style-type: none
hr
	max-width: 1440px
	height: 0px
	border: 1px solid rgba(47, 51, 56, 0.3)
	margin: 40px auto
	@media (max-width: 1439px)
		margin: 20px auto
input
	margin: 0
	padding: 0
	outline: none
input:autofill, input:autofill:focus, input:autofill:hover
	transition: background-color 5000s ease-in-out 0s
	-webkit-text-fill-color: $wgrey
header
	background-color: $wgrey
	position: fixed
	top: 0
	z-index: 10
	width: 100vw
	@media (max-width: 1024px)
		border-bottom: 1px solid rgba(244, 126, 81, 0.5)
.header__block
	margin: 0 auto
	max-width: 1440px
	height: 100px
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	padding: 0 100px
	@media (max-width: 1439px)
		height: 90px
		max-width: 1439px
		padding: 0 80px
	@media (max-width: 1239px)
		max-width: 1240px
		padding: 0 30px
	@media (max-width: 1024px)
		max-width: 1040px
		padding: 0 20px
	@media (max-width: 740px)
		max-width: 740px
		height: 80px
	@media (max-width: 380px)
		max-width: 3800px
		height: 70px
	&-lists
		display: flex
		justify-content: space-between
		width: 540px
		@media (max-width: 1239px)
			width: 500px
		@media (max-width: 1024px)
			flex-direction: column
			margin-left: 5vw
	&-list
		font-style: normal
		font-weight: 600
		font-size: 16px
		line-height: 28px
		align-items: center
		text-transform: uppercase
		@media (max-width: 1239px)
			font-size: 15px
		@media (max-width: 1024px)
			font-size: 24px
			line-height: 54px
	&-logo
		background-size: contain
		background-repeat: no-repeat
		height: 36px
		@media (max-width: 1239px)
			height: 30px
		img
			@media (max-width: 1239px)
				height: 30px
.header__block-list:hover
	text-decoration: underline
	color: $orange
.header__block-taplink::after
	content: ""
	display: inline-block
	position: relative
	background: url("../assets/svg/drop.svg")
	color: $orange
	height: 10px
	width: 22px
	background-size: contain
	background-repeat: no-repeat
	@media (max-width: 1239px)
		height: 8px
		width: 19px
	@media (max-width: 1024px)
		display: none
.header__block-taplink
	ul
		display: none
		max-width: 300px
		position: absolute
		margin-left: -20px
		font-size: 18px
		padding: 15px
		z-index: 11
		background-color: $wgrey
		@media (max-width: 1439px)
			font-size: 16px
		@media (max-width: 1239px)
			font-size: 15px
		@media (max-width: 1024px)
			margin-left: 160px
			width: 300px
			margin-top: -30px
			font-size: 16px
			padding: 20px
			display: none
.header__block-taplink:hover
	ul
		display: flex
		flex-direction: column
		flex-direction: column
		gap: 20px
		border-radius: 30px
		@media (max-width: 1024px)
			border-radius: 0px
			border: 1px solid $orange
			display: none
.header__block-underlist:hover
	text-decoration: underline
	a
		color: $orange
.button__feedback
	padding: 15px 27px
	width: 200px
	border-radius: 30px
	color: $wgrey
	background-color: $orange
	border: none
	white-space: nowrap
	display: flex
	justify-content: center
	border: 3px solid #F47E51
	@media (max-width: 1239px)
		width: 170px
		padding: 12px 22px
		font-size: 15px
	@media (max-width: 740px)
		width: 200px
.button__feedback:hover
	box-sizing: border-box
	background-color: $red
	border: 3px solid $red
	border-radius: 30px
	transform: scale(1.05)
	transition-duration: 0.1s
.button__feedback:active
	background-color: $red
	transform: scale(1.05)
	transition-duration: 0.1s
#button-head
	@media (max-width: 1024px)
		order: 2
		margin: 0 auto
	@media (max-width: 740px)
		display: none
.header__burger
	// margin-left: auto
	// margin-right: 25px
.burger
	display: none
	width: 60px
	height: 32px
	background-size: contain
	background-repeat: no-repeat
	border-radius: 0px
	background: url("../assets/svg/burger-menu.svg")
	border: none
	z-index: 11
	@media (max-width: 1024px)
		order: 3
		display: block
	@media (max-width: 380px)
		width: 50px
		height: 32px
.burger:hover
	cursor: pointer
.close
	display: none
	width: 40px
	height: 40px
	margin: 0 20px 20px 0px
	background: url("../assets/svg/close-menu.svg")
	background-size: contain
	background-repeat: no-repeat
	@media (max-width: 1024px)
		display: block
		position: absolute
		right: 20px
		border: none
.close:hover
	cursor: pointer
.navigation__header
	@media (max-width: 1024px)
		position: fixed
		display: flex
		width: 100vw
		top: 0px
		left: 5px
		z-index: 12
		background: $wgrey
		transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6)
		transform: translateX(1000px)
		transition: all 0.6s ease
		padding: 30px
.navigation__header.show
	transform: translateX(0vw)
	transition: all 0.6s ease
.slider
	max-width: 800px
	height: 960px
	overflow: hidden
	@media (max-width: 1439px)
		height: 810px
	@media (max-width: 1239px)
		height: 690px
	@media (max-width: 740px)
		max-width: 740px
		height: 380px
.block__slider
	display: flex
	position: relative
	z-index: 1
	gap: 2vw
	animation-duration: 25s
	animation-name: slide
	animation-iteration-count: infinite
	animation-timing-function: linear
	margin-right: 40px
	@media (max-width: 1439px)
		margin-right: 110px
	@media (max-width: 1239px)
		margin-right: 170px
	@media (max-width: 1024px)
		margin: 0 10px
		gap: 3vw
		justify-content: space-between
	@media (max-width: 740px)
		gap: 2vw
		margin: 0
	&-left
		position: relative
		top: 160px
		@media (max-width: 1439px)
			top: 180px
		@media (max-width: 740px)
			top: 90px
	@keyframes slide
		0%
			transform: translateY(-150px)
		100%
			transform: translateY(-1000px)
	@media (max-width: 740px)
		@keyframes slide
			0%
				transform: translateY(-50px)
			100%
				transform: translateY(-800px)
	@media (max-width: 380px)
		@keyframes slide
			0%
				transform: translateY(-50px)
			100%
				transform: translateY(-600px)
	&-card
		display: flex
		gap: 60px
		flex-direction: column
		@media (max-width: 1439px)
			gap: 45px
		@media (max-width: 1239px)
			gap: 40px
		@media (max-width: 1024px)
			gap: 60px
		@media (max-width: 740px)
			gap: 20px
	img
		height: 320px
		width: 320px
		@media (max-width: 1439px)
			height: 280px
			width: 280px
		@media (max-width: 1239px)
			height: 250px
			width: 250px
		@media (max-width: 1024px)
			height: 320px
			width: 320px
		@media (max-width: 740px)
			height: 170px
			width: 170px
		@media (max-width: 380px)
			height: 135px
			width: 135px
h1
	font-weight: 700
	font-size: 48px
	line-height: 57px
	margin-bottom: 120px
	@media (max-width: 1439px)
		font-size: 40px
		line-height: 57px
		margin-bottom: 110px
	@media (max-width: 1239px)
		font-size: 36px
		line-height: 57px
		margin-bottom: 50px
		line-height: 37px
	@media (max-width: 740px)
		margin-bottom: 20px
	span
		color: $orange
h1.element-show
	animation: wipe-enter 1s
h2
	margin-bottom: 50px
	font-weight: 700
	font-size: 48px
	line-height: 57px
	@media (max-width: 1439px)
		font-size: 40px
	@media (max-width: 1239px)
		font-size: 36px
		margin-bottom: 40px
	@media (max-width: 1024px)
		font-size: 28px
		margin-bottom: 30px
	@media (max-width: 740px)
		margin-bottom: 20px
		margin-top: -10px
		line-height: 40px
	span
		color: $orange
h2.element-show
	animation: wipe-enter 1s
@keyframes wipe-enter
	0%
		opacity: 0
		transform: translateX(100px)
	100%
		opacity: 1
		transform: translateX(0px)
h3
	white-space: nowrap
	display: flex
	align-items: center
	justify-content: flex-start
	font-weight: 700
	font-size: 26px
	line-height: 54px
	cursor: pointer
	@media (max-width: 1239px)
		font-size: 24px
	@media (max-width: 1024px)
		font-size: 20px
		line-height: 40px
h3:hover
	transform: scale(1.01)
	transition: 0.1s
h3::after
	content: ""
	display: block
	position: relative
	background: url("../assets/svg/arrow.svg")
	color: $orange
	width: 60px
	height: 30px
	background-size: contain
	background-repeat: no-repeat
	margin-left: 10px
	@media (max-width: 1239px)
		width: 30px
		height: 15px
	@media (max-width: 1024px)
		margin-left: 2px
h3:hover:after
	display: none
h3:hover:before
	content: ""
	display: block
	position: relative
	background: url("../assets/svg/arrow.svg")
	color: $orange
	width: 60px
	height: 30px
	background-size: contain
	background-repeat: no-repeat
	margin-right: 10px
	@media (max-width: 1239px)
		width: 30px
		height: 15px
	@media (max-width: 1024px)
		margin-right: 2px
h4
	font-weight: 600
	font-size: 32px
	line-height: 60px
	@media (max-width: 1439px)
		font-size: 24px
		line-height: 40px
	@media (max-width: 1024px)
		line-height: 30px
.block__slogan
	max-width: 590px
	margin-top: 60px
	@media (max-width: 1439px)
		margin-top: 100px
	@media (max-width: 1024px)
		max-width: 80vw
		margin-top: 80px
		margin-bottom: 50px
	@media (max-width: 740px)
		max-width: 100vw
		margin-top: 50px
		margin-bottom: 30px
	&-btns
		display: flex
		margin-top: 120px
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		@media (max-width: 1439px)
			margin-top: 120px
		@media (max-width: 1024px)
			margin-top: 50px
		@media (max-width: 740px)
			flex-direction: column
			align-items: flex-start
			margin-top: 20px
	&-btn
		display: flex
		width: 240px
		background-color: $wgrey
		border: 3px solid $black
		font-weight: 600
		font-size: 16px
		line-height: 28px
		margin-left: 25px
		align-items: center
		justify-content: center
		color: $black
		@media (max-width: 1439px)
			margin-left: 15px
			font-size: 15px
		@media (max-width: 1239px)
			width: 220px
			margin-left: 11px
		@media (max-width: 1024px)
			margin-left: 25px
		@media (max-width: 740px)
			margin-left: 0px
			margin-top: 15px
			width: 200px
		img
			margin-right: 5px
			margin: auto 5px
			@media (max-width: 1239px)
				height: 19px
				width: 23px
			@media (max-width: 740px)
				display: none
	&-text
		@media (max-width: 1040px)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
		h3
			@media (max-width: 1040px)
				width: 260px
.block__slogan-btn:hover
	transform: scale(1.05)
	transition-duration: 0.1s
.slogan
	width: 100vw
	background-color: $wgrey
	&__block
		display: flex
		max-width: 1440px
		margin: 0 auto
		padding: 100px 100px 0px 100px
		overflow: hidden
		justify-content: space-between
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 100px 80px 0px 80px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 80px 30px
		@media (max-width: 1024px)
			flex-direction: column
			padding: 50px 20px
			max-width: 1040px
.service__block
	max-width: 1440px
	overflow-x: hidden
	box-sizing: border-box
	margin: 0 auto
	padding: 50px 100px 40px
	color: $black
	@media (max-width: 1439px)
		max-width: 1439px
		padding: 60px 80px 30px
	@media (max-width: 1239px)
		max-width: 1240px
		padding: 0px 30px 30px
	@media (max-width: 1024px)
		max-width: 1040px
		padding: 0px 20px 30px
	@media (max-width: 740px)
		max-width: 740px
	&-grid
		display: flex
		gap: 3vw
		flex-wrap: wrap
		justify-content: center
		padding-bottom: 40px
		@media (max-width: 1239px)
			gap: 1vw
		@media (max-width: 1024px)
			justify-content: space-between
			gap: 3vw
		@media (max-width: 740px)
	&-card
		display: flex
		flex-direction: column
		align-items: center
		font-weight: 600
		font-size: 16px
		line-height: 19px
		background-color: $white
		padding: 30px 30px 13px
		width: 180px
		height: 180px
		box-shadow: 0px 4px 15px rgba(47, 51, 56, 0.1), 0px 4px 15px rgba(236, 106, 106, 0.2)
		border-radius: 15px
		text-align: center
		transition: transform 0.5s
		transform-style: preserve-3d
		@media (max-width: 740px)
			display: flex
			align-items: flex-start
			justify-content: center
			padding: 10px 10px
			width: 100%
			height: 80px
		img
			margin-bottom: 20px
			height: 50px
			width: 50px
			@media (max-width: 740px)
				margin: 0px 10px
				height: 40px
				width: 40px
.service__block-card:hover
	transform: rotateY(180deg)
	cursor: pointer
.card-face
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	top: 0
	bottom: 0
	backface-visibility: hidden
	@media (max-width: 740px)
		flex-direction: row
.card-face.back
	display: flex
	justify-content: center
	position: absolute
	vertical-align: middle
	font-size: 14px
	font-weight: 600
	padding: 20px 10px
	transform: rotateY(180deg)
	@media (max-width: 740px)
		flex-direction: row
		text-align: center
		display: flex
		justify-content: center
.detailed
	color: $orange
	margin-top: 10px
	display: flex
	@media (max-width: 740px)
		display: none
.detailed::after
	content: ""
	display: block
	position: relative
	background: url("../assets/svg/next.svg")
	color: $orange
	width: 16px
	height: 16px
	background-size: contain
	background-repeat: no-repeat
	margin-left: 5px
.cases
	&__block
		max-width: 1440px
		overflow-x: hidden
		box-sizing: border-box
		margin: 0 auto
		padding: 10px 100px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 0px 80px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 0px 30px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 0px 20px
		@media (max-width: 740px)
			max-width: 740px
		@media (max-width: 380px)
			max-width: 380px
		&-btn
			display: flex
			justify-content: center
			align-items: center
			flex-wrap: nowrap
			font-weight: 600
			font-size: 18px
			line-height: 28px
			color: $wgrey
			background-color: $black
			height: 62px
			width: 241px
			margin: 0 auto
			border-radius: 30px
			@media (max-width: 1439px)
				font-size: 16px
				margin-top: 20px
			@media (max-width: 1239px)
				font-size: 15px
				height: 51px
				width: 215px
			@media (max-width: 1024px)
				margin-top: 0px
		&-grid
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			@media (max-width: 740px)
				justify-content: center
		&-subtitle
			max-width: 420px
			font-weight: 400
			font-size: 18px
			line-height: 21px
			padding-bottom: 40px
			margin-top: -30px
			@media (max-width: 1439px)
				font-size: 16px
				padding-bottom: 20px
			@media (max-width: 380px)
				padding-top: 15px
		&-card
			width: 390px
			height: 570px
			@media (max-width: 1439px)
				width: 330px
				height: 480px
			@media (max-width: 1239px)
				width: 300px
				height: 440px
			@media (max-width: 1024px)
				width: 330px
				height: 470px
			@media (max-width: 380px)
				width: 295px
				height: 390px
			img
				height: 390px
				width: 390px
				background-size: contain
				background-repeat: no-repeat
				@media (max-width: 1439px)
					height: 330px
					width: 330px
				@media (max-width: 1239px)
					height: 300px
					width: 300px
				@media (max-width: 1024px)
					height: 330px
					width: 330px
				@media (max-width: 380px)
					height: 290px
					width: 290px
		&-name
			font-weight: 700
			font-size: 18px
			line-height: 21px
			padding: 20px 0
			max-width: 300px
			@media (max-width: 1439px)
				padding: 10px 0
				font-size: 16px
			@media (max-width: 1439px)
				font-size: 15px
			@media (max-width: 380px)
				font-size: 14px
				padding: 7px 0
				line-height: 14px
		&-text
			font-weight: 400
			font-size: 18px
			line-height: 21px
			max-width: 390px
			@media (max-width: 1439px)
				font-size: 16px
			@media (max-width: 1239px)
				font-size: 15px
			@media (max-width: 380px)
				font-size: 14px
				line-height: 14px
.cases__block-btn:hover
	background-color: $orange
	transform: scaleX(1.03)
	transition-duration: 0.2s
.cases__block-card:hover
	transform: translateY(-20px)
	transition-duration: 0.5s
.about
	margin-top: 80px
	background-image: url("../assets/bg/grid-bg.png")
	background-size: cover
	background-repeat: no-repeat
	@media (max-width: 1439px)
		margin-top: 60px
	@media (max-width: 1024px)
		margin-top: 40px
	&__block
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 80px 100px 80px
		@media (max-width: 1439px)
			max-width: 1440px
			padding: 60px 80px 60px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 40px 30px 40px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 40px 20px 40px
		@media (max-width: 740px)
			max-width: 740px
			justify-content: center
		&-company
			max-width: 550px
			@media (max-width: 1439px)
				max-width: 490px
			@media (max-width: 1239px)
				max-width: 420px
			@media (max-width: 1024px)
				max-width: 645px
			@media (max-width: 740px)
				display: flex
				flex-direction: column
				align-items: center
				max-width: 740px
		&-title
			margin-bottom: 5px
			span
				color: $wgrey
		&-subtitle
			margin-bottom: 40px
			@media (max-width: 1439px)
				margin-bottom: 25px
		&-text
			font-weight: 600
			font-size: 18px
			line-height: 23px
			@media (max-width: 1439px)
				font-size: 16px
			@media (max-width: 740px)
				font-size: 14px
				text-align: center
		&-grid
			display: flex
			width: 600px
			gap: 35px
			@media (max-width: 1439px)
				gap: 21px
				width: 525px
			@media (max-width: 1024px)
				margin: 40px auto 10px
			@media (max-width: 740px)
				gap: 10px
				justify-content: center
		&-card
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			background: #FFFFFF
			box-shadow: 4px 4px 15px rgba(47, 51, 56, 0.3), 0px 4px 15px rgba(236, 106, 106, 0.2)
			border-radius: 15px
			padding: 30px 25px
			@media (max-width: 1439px)
				padding: 20px 15px
			@media (max-width: 740px)
		&-litlecard
			height: 155px
			width: 285px
			@media (max-width: 1439px)
				height: 137px
				width: 250px
			@media (max-width: 740px)
				height: 80px
				width: 140px
		&-bigcard
			height: 200px
			width: 285px
			@media (max-width: 1439px)
				height: 155px
				width: 250px
			@media (max-width: 740px)
				height: 120px
				width: 140px
		&-left
			display: flex
			flex-direction: column
			gap: 40px
			@media (max-width: 740px)
				gap: 12px
		&-right
			gap: 40px
			display: flex
			flex-direction: column
			@media (max-width: 740px)
				gap: 12px
		&-num
			font-weight: 700
			font-size: 32px
			line-height: 38px
			@media (max-width: 740px)
				font-size: 20px
		&-textcard
			color: rgba(47, 51, 56, 0.8)
			font-weight: 600
			font-size: 18px
			line-height: 22px
			text-align: center
			@media (max-width: 1439px)
				font-size: 16px
			@media (max-width: 740px)
				font-size: 14px
.about__block-leftcard.element-show
	animation: wipe-enter 2s
@keyframes wipe-enter
	0%
		opacity: 0
		transform: translateX(-300px)
	100%
		opacity: 1
		transform: translateX(0px)
.about__block-rightcard.element-show
	animation: wipe-right 2s
@keyframes wipe-right
	0%
		opacity: 0
		transform: translateX(300px)
	100%
		opacity: 1
		transform: translateX(0px)
#button-about
	display: flex
	align-items: center
	flex-wrap: nowrap
	background: rgba(47, 51, 56, 0)
	border: 3px solid #2F3338
	color: $black
	font-weight: 900
	font-size: 18px
	line-height: 28px
	margin-top: 40px
	height: 62px
	@media (max-width: 1439px)
		font-size: 16px
		height: 54px
		margin-top: 30px
	@media (max-width: 1239px)
		font-size: 15px
		height: 51px
		margin-top: 30px
	@media (max-width: 1024px)
		margin-top: 20px
#button-about:hover
	background: rgba(47, 51, 56)
	color: $white
	transform: scale(1.05)
	transition-duration: 0.1s
.trust
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 80px 100px 40px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 60px 80px 30px
		@media (max-width: 1239px)
			max-width: 1239px
			padding: 50px 30px 15px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 30px 20px 15px
		@media (max-width: 740px)
			max-width: 740px
		&-slider
			display: flex
			flex-direction: column
			gap: 25px
			max-width: 1240px
			overflow: hidden
			margin-bottom: 80px
			@media (max-width: 1239px)
				margin-bottom: 50px
			@media (max-width: 1024px)
				gap: 0px
				margin-bottom: 30px
			@media (max-width: 740px)
		&-slide
			display: flex
			gap: 25px
			@media (max-width: 1024px)
				gap: 15px
			@media (max-width: 740px)
				gap: 15px
		&-card
			display: flex
			align-items: center
			justify-content: center
			height: 150px
			min-width: 300px
			box-sizing: border-box
			@media (max-width: 1239px)
				height: 125px
				min-width: 250px
			@media (max-width: 1024px)
				height: 140px
				width: 300px
			@media (max-width: 740px)
				height: 90px
				min-width: 150px
			img
				display: block
				background-size: contain
				background-repeat: no-repeat
				margin: 0 auto
				@media (max-width: 1024px)
					width: 100%
				@media (max-width: 740px)
					width: 100%
.grayscale
	filter: grayscale(1)
	transition: 0.5s
	@media (max-width: 1024px)
		filter: grayscale(0)
.grayscale:hover
	filter: grayscale(0)
	cursor: pointer
	transition: transform 200ms ease
#trust__slide-1, #trust__slide-3
	justify-content: flex-end
	animation-duration: 50s
	animation-name: slide-right
	animation-iteration-count: infinite
	animation-timing-function: linear
	margin-right: 0px
@keyframes slide-right
	0%
		transform: translateX(0)
	100%
		transform: translateX(1300px)
#trust__slide-2
	justify-content: flex-start
	animation-duration: 50s
	animation-name: slide-left
	animation-iteration-count: infinite
	animation-timing-function: linear
@keyframes slide-left
	0%
		transform: translateX(0)
	100%
		transform: translateX(-1300px)
.privilege
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 0px 100px 80px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 0px 80px 40px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 0px 30px 0px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 0px 20px 0px
		@media (max-width: 740px)
			max-width: 740px
		&-grid
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			gap: 4vh
			@media (max-width: 740px)
				gap: 3vh
		&-card
			background: $white
			box-shadow: 4px 4px 30px rgba(47, 51, 56, 0.3)
			border-radius: 25px
			width: 380px
			height: 350px
			padding: 16px 33px
			@media (max-width: 1439px)
				width: 330px
				height: 330px
			@media (max-width: 1239px)
				width: 300px
				height: 300px
			@media (max-width: 1024px)
				width: 330px
				height: 330px
			@media (max-width: 740px)
				width: 100%
				height: 200px
				padding: 15px 25px
		&-incard
			@media (max-width: 740px)
				display: flex
				gap: 10px
				margin-bottom: 5px
		&-img
			@media (max-width: 1439px)
				height: 60px
				width: 60px
				background-size: contain
				background-repeat: no-repeat
			@media (max-width: 1239px)
				height: 50px
				width: 50px
			@media (max-width: 1024px)
				height: 60px
				width: 60px
			@media (max-width: 740px)
				height: 50px
				width: 50px
.contact__form
	margin-top: 80px
	background-image: url("../assets/bg/footer-bg.png")
	background-size: cover
	background-repeat: no-repeat
	&-block
		max-width: 1440px
		height: 800px
		box-sizing: border-box
		margin: 0 auto
		padding: 75px 100px 150px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 60px 80px 100px
			height: 740px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 60px 30px 50px
			height: 670px
		@media (max-width: 1024px)
			max-width: 1240px
			padding: 50px 20px 40px
			height: 670px
		@media (max-width: 740px)
			max-width: 740px
	&-intitle
		display: flex
		flex-direction: column
		align-items: center
	&-title
		color: $orange
		font-size: 64px
		font-weight: 600
		font-size: 64px
		@media (max-width: 1439px)
			font-size: 56px
		@media (max-width: 1239px)
			font-size: 48px
		@media (max-width: 740px)
			font-size: 28px
	&-subtitle
		font-weight: 400
		font-size: 32px
		line-height: 57px
		color: $wgrey
		padding: 35px 0
		@media (max-width: 1439px)
			font-size: 28px
			line-height: 35px
		@media (max-width: 1439px)
			font-size: 24px
			padding: 25px 0
		@media (max-width: 740px)
			font-size: 16px
			text-align: center
			padding: 20px 0px 10px
	&-grid
		max-width: 1240px
		display: flex
		justify-content: space-between
		align-items: center
		@media (max-width: 1024px)
			flex-direction: column
			align-items: flex-start
	&-comment
		margin-top: 80px
		max-width: 1200px
		@media (max-width: 1024px)
#contact-name, #contact-tel, #contact-site
	border: none
	border-bottom: 1px solid #FAFAFA
	height: 62px
	width: 330px
	background: rgba(217, 217, 217, 0.001)
	color: $wgrey
	padding: 10px
	font-weight: 300
	font-size: 32px
	line-height: 57px
	@media (max-width: 1439px)
		font-size: 28px
		width: 290px
	@media (max-width: 1239px)
		font-size: 24px
		width: 230px
		height: 57px
	@media (max-width: 1024px)
		width: 100%
		height: 57px
	@media (max-width: 740px)
		font-size: 16px
#subject
	border: 1px solid #FAFAFA
	min-height: 220px
	max-height: 220px
	min-width: 760px
	max-width: 1200px
	background: rgba(217, 217, 217, 0.001)
	color: $wgrey
	padding: 10px
	font-weight: 300
	font-size: 32px
	line-height: 57px
	margin: 60px 0
	@media (max-width: 1439px)
		font-size: 28px
		min-height: 180px
		max-height: 180px
		min-width: 670px
		max-width: 1050px
	@media (max-width: 1239px)
		font-size: 24px
		min-height: 180px
		max-height: 180px
		min-width: 575px
		max-width: 910px
	@media (max-width: 1024px)
		min-height: 150px
		max-height: 150px
		min-width: 100%
		max-width: 100%
		margin: 30px 0
	@media (max-width: 740px)
		font-size: 16px
form
	position: relative
	max-width: 1440px
	margin: 0 auto
	@media (max-width: 1439px)
		max-width: 1439px
.faq
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 80px 100px 80px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 50px 80px 40px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 50px 30px 20px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 40px 20px 10px
		&-grid
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			gap: 30px
			max-width: 1240px
			margin: 0 auto
			padding-bottom: 80px
			@media (max-width: 1439px)
				padding-bottom: 60px
			@media (max-width: 1239px)
				justify-content: center
				padding-bottom: 50px
				gap: 20px
			@media (max-width: 1024px)
				padding-bottom: 30px
			@media (max-width: 740px)
				gap: 10px
				padding-bottom: 20px
		&-card
			width: 600px
			@media (max-width: 1439px)
				width: 520px
			@media (max-width: 1239px)
				width: 800px
			@media (max-width: 1024px)
				width: 100%
		&-panel
			padding: 0 18px
			display: none
			background-color: white
			overflow: hidden
		&-text
			font-size: 18px
			padding: 20px 1px
			background: #FFFFFF
			letter-spacing: 0.15px
			line-height: 28px
			@media (max-width: 1439px)
				font-size: 16px
			span
				color: $orange
.faq__block-btn
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0px 40px
	background: #FFFFFF
	box-shadow: 4px 4px 30px rgba(47, 51, 56, 0.3)
	border-radius: 25px
	border-color: transparent
	width: 600px
	height: 81px
	font-size: 18px
	transition: 0.4s
	cursor: pointer
	color: $black
	@media (max-width: 1439px)
		width: 520px
		height: 81px
		font-size: 16px
	@media (max-width: 1239px)
		width: 800px
	@media (max-width: 1024px)
		width: 100%
		height: 60px
		padding: 0px 30px
		border-radius: 15px
	@media (max-width: 740px)
		text-align: left
		line-height: 20px
		padding: 0px 20px
		height: 70px
		font-size: 14px
.faq__block-btn::after
	content: ""
	display: block
	position: relative
	background: url("../assets/svg/faq.svg")
	color: $orange
	width: 15px
	height: 48px
	background-size: contain
	background-repeat: no-repeat
	margin-right: 10px
	@media (max-width: 1439px)
		width: 12px
		height: 42px
	@media (max-width: 740px)
		margin-right: 0px
	@media (max-width: 380px)
		margin-left: 10px
		width: 12px
		height: 42px!important
		background-size: contain
.active, #faq__block-btn:hover
	background: #FFFFFF
	transform: scale(1.02)
	transition-duration: 0.8s
.active:after
	content: ""
	display: block
	position: relative
	transition: transform .35s
	transform: rotate(90deg)
.articles
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 0px 100px 80px
		@media (max-width: 1439px)
			max-width: 1439px
			padding: 0px 80px 60px
		@media (max-width: 1239px)
			max-width: 1239px
			padding: 0px 30px 30px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 0px 20px 30px
		@media (max-width: 740px)
			max-width: 740px
		@media (max-width: 380px)
			max-width: 380px
		&-grid
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			margin: 0 auto
			@media (max-width: 740px)
				gap: 15px
		&-card
			height: 430px
			width: 400px
			@media (max-width: 1439px)
				height: 324px
				width: 330px
			@media (max-width: 1239px)
				height: 344px
				width: 300px
			@media (max-width: 1024px)
				height: 260px
				width: 200px
			@media (max-width: 740px)
				height: 110px
				width: 100%
				display: flex
				gap: 10px
			@media (max-width: 380px)
				height: 110px
				width: 100%
				display: flex
				gap: 10px
		&-img
			height: 300px
			width: 400px
			background-size: contain
			background-repeat: no-repeat
			border-radius: 30px
			margin-bottom: 10px
			@media (max-width: 1439px)
				height: 247.5px
				width: 330px
				border-radius: 20px
			@media (max-width: 1239px)
				height: 225px
				width: 300px
			@media (max-width: 1024px)
				margin-bottom: 5px
				height: 150px
				width: 200px
			@media (max-width: 740px)
				height: 100px
				width: 150px
			@media (max-width: 380px)
				height: 100px
				width: 150px
		&-subtitle
			font-weight: 700
			font-size: 18px
			line-height: 30px
			@media (max-width: 1439px)
				font-size: 16px
			@media (max-width: 1024px)
				font-size: 15px
			@media (max-width: 740px)
				font-weight: 500
				line-height: 22px
			@media (max-width: 380px)
				font-size: 14px
		&-text
			font-weight: 400
			font-size: 18px
			line-height: 30px
			@media (max-width: 1439px)
				font-size: 16px
			@media (max-width: 740px)
				font-weight: 300
				font-size: 14px
.articles__block-card:hover
	transform: translateY(-20px) scale(1.01)
	transition-duration: 0.5s
	cursor: pointer
footer
	background-image: url("../assets/bg/footer-bg.png")
	background-size: cover
	background-repeat: no-repeat
	color: $wgrey
.footer__block
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: flex-start
	max-width: 1440px
	box-sizing: border-box
	margin: 0 auto
	padding: 60px 100px 80px
	color: $wgrey
	@media (max-width: 1439px)
		max-width: 1439px
		padding: 50px 80px 60px
	@media (max-width: 1239px)
		max-width: 1239px
		padding: 50px 30px 40px
	@media (max-width: 1024px)
		max-width: 1040px
		padding: 40px 20px 40px
		column-gap: 40px
	@media (max-width: 740px)
		max-width: 740px
		margin-bottom: 80px
	@media (max-width: 380px)
		max-width: 380px
		margin-bottom: 0px
		justify-content: center
	&-navigation
		@media (max-width: 740px)
			margin-top: 10px
		@media (max-width: 380px)
			display: none
	&-service
		@media (max-width: 740px)
			display: none
	&-copyright
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 30px 100px
		@media (max-width: 1439px)
			padding: 30px 80px
			max-width: 1439px
		@media (max-width: 1239px)
			padding: 30px 30px
			max-width: 1239px
		@media (max-width: 1024px)
			max-width: 1040px
			padding: 30px 20px 30px
			font-size: 15px
		@media (max-width: 740px)
			max-width: 740px
			padding: 20px 20px 30px
			font-weight: 350
			font-size: 14px
			line-height: 19px
		p
			@media (max-width: 380px)
				text-align: center

	&-title
		color: $wgrey
		font-weight: 700
		font-size: 20px
		line-height: 24px
		cursor: default
		@media (max-width: 1439px)
			font-size: 18px
			line-height: 20px
		@media (max-width: 1024px)
			font-size: 16px
			line-height: 18px
	&-list
		color: $wgrey
		font-weight: 300
		font-size: 18px
		line-height: 19px
		@media (max-width: 1439px)
			font-size: 16px
		@media (max-width: 1024px)
			font-size: 15px
	&-lists
		display: flex
		flex-direction: column
		gap: 16px
		@media (max-width: 1239px)
			gap: 12px
		@media (max-width: 1024px)
			gap: 14px
	&-contacts
		display: flex
		flex-direction: column
		gap: 16px
		@media (max-width: 1024px)
			position: absolute
			margin-top: 160px
		@media (max-width: 380px)
			position: relative
			margin-top: 30px
			align-items: center
	&-social
		display: flex
		justify-content: space-between
		margin-top: 20px
		@media (max-width: 1439px)
			margin-top: 10px
		@media (max-width: 740px)
			margin-top: 0px
		@media (max-width: 380px)
			width: 55vw
		a
			img
				@media (max-width: 1439px)
					width: 45px
				@media (max-width: 1024px)
					width: 40px
#button-footer
	display: flex
	align-items: center
	background: rgba(47, 51, 56, 0)
	border: 2px solid $wgrey
	color: $wgrey
	font-weight: 600
	font-size: 18px
	line-height: 28px
	margin-top: 30px
	letter-spacing: 0.03em
	height: 56px
	@media (max-width: 1439px)
		font-size: 16px
#button-footer:hover
	background: $red
	color: $white
	border: 3px solid #F47E51
	transform: scale(1.05)
	transition-duration: 0.1s
.hr-footer
	max-width: 100vw
	height: 0px
	border: 1px solid rgba(250, 250, 250, 0.5)
	margin: 0px auto
.footer__block-list:hover
	text-decoration: underline
.footer__block-link:hover
	transform: scale(1.1)
.subheader
	&__form
		&-title
			color: $orange
			font-weight: 600
			font-size: 48px
			line-height: 57px
			@media (max-width: 1239px)
				font-size: 36px
			@media (max-width: 740px)
				font-size: 30px
				line-height: 32px
				margin: 10px 0px
				text-align: center
			@media (max-width: 380px)
				font-size: 28px
		&-subtitle
			font-weight: 400
			font-size: 20px
			line-height: 57px
			color: $wgrey
			@media (max-width: 1239px)
				line-height: 32px
			@media (max-width: 1024px)
				font-size: 18px
			@media (max-width: 740px)
				font-weight: 300
				letter-spacing: 0.02em
				text-align: center
			@media (max-width: 380px)
				font-size: 14px
				line-height: 21px
		&-grid
			display: flex
			flex-direction: column
	&__block
		max-width: 1440px
		margin: 0 auto
		padding: 120px 100px 80px
		@media (max-width: 1439px)
			padding: 100px 80px 80px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 100px 30px 60px
		@media (max-width: 1024px)
			max-width: 1024px
			padding: 80px 20px 50px
		@media (max-width: 740px)
			max-width: 740px
			padding: 60px 20px 40px
		@media (max-width: 380px)
			max-width: 380px
		&-title
			margin: 40px 0px
			@media (max-width: 1239px)
				margin: 40px 0px 20px
			@media (max-width: 740px)
				font-size: 30px
				line-height: 32px
				margin: 40px 0px 20px
			@media (max-width: 380px)
				font-size: 28px
				line-height: 32px
				margin: 40px 0px 10px
		&-subtitle
			font-weight: 700
			font-size: 32px
			line-height: 54px
			@media (max-width: 1239px)
				font-size: 20px
				line-height: 32px
			@media (max-width: 740px)
				font-size: 16px
				line-height: 21px
			@media (max-width: 380px)
				font-size: 16px
				line-height: 20px
				font-weight: 500
				br
					display: none
		&-grid
			display: flex
			gap: 30px
			flex-direction: column
			justify-content: center
			@media (max-width: 1024px)
				flex-direction: row
				flex-wrap: wrap
				margin-bottom: 30px
			@media (max-width: 740px)
				gap: 20px
		&-form
			margin-top: 50px
			display: flex
			justify-content: space-between
			@media (max-width: 1239px)
				margin-top: 30px
			@media (max-width: 1024px)
				flex-direction: column
				align-items: center
		&-card
			background: #FFFFFF
			box-shadow: 0px 4px 15px rgba(47, 51, 56, 0.1), 0px 4px 15px rgba(236, 106, 106, 0.2)
			border-radius: 15px
			width: 380px
			height: 140px
			padding: 0px 40px 20px
			display: flex
			align-items: center
			@media (max-width: 1439px)
				width: 360px
				padding: 0px 30px 20px
				width: 340px
			@media (max-width: 1024px)
				width: 300px
				padding: 0px 25px 20px
				height: 120px
			img
				margin-right: 20px
				background-size: cover
				background-repeat: no-repeat
				@media (max-width: 1239px)
					width: 35px
				@media (max-width: 1024px)
					margin-right: 15px
					margin-top: -10px
		&-incard
			font-size: 20px
			@media (max-width: 1239px)
				font-size: 18px
			@media (max-width: 1024px)
				font-size: 16px
		&-container
			width: 700px
			background-image: url("../assets/bg/footer-bg.png")
			padding: 50px
			@media (max-width: 1439px)
				width: 650px
			@media (max-width: 1239px)
				width: 550px
				padding: 40px
			@media (max-width: 1024px)
				width: 90%
			@media (max-width: 740px)
				width: 100%
				padding: 20px
				border-radius: 10px
.subheader__incard-title
	font-weight: 700
	line-height: 54px
.subheader__incard-text
	font-weight: 400
	line-height: 19px
.subheader__incard-link:hover
	cursor: pointer
	color: $orange
.messengers
	display: flex
	img
		@media (max-width: 1024px)
			height: 35px
	img:hover
		transform: scale(1.1)
		cursor: pointer

#subheader-name, #subheader-tel, #subheader-site
	border: none
	border-bottom: 1px solid #FAFAFA
	height: 62px
	width: 100%
	background: rgba(217, 217, 217, 0.001)
	color: $wgrey
	padding: 10px
	font-weight: 300
	font-size: 20px
	line-height: 57px
	@media (max-width: 1024px)
		font-size: 18px
		width: 100%
		height: 57px
	@media (max-width: 740px)
		font-size: 16px
#subheader-subject
	border: 1px solid #FAFAFA
	min-height: 160px
	max-height: 220px
	min-width: 100%
	max-width: 100%
	background: rgba(217, 217, 217, 0.001)
	color: $wgrey
	padding: 10px
	font-weight: 300
	font-size: 20px
	line-height: 57px
	margin: 60px 0
	@media (max-width: 1024px)
		min-height: 150px
		max-height: 150px
		margin: 30px 0
		font-size: 18px
	@media (max-width: 740px)
		font-size: 16px
#button__subheader
	@media (max-width: 380px)
		margin: 0 auto
.publication
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 140px 100px 20px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 100px 30px 60px
		@media (max-width: 1024px)
			max-width: 1024px
			padding: 80px 20px 30px
		@media (max-width: 740px)
			max-width: 740px
			padding: 60px 20px 30px
		@media (max-width: 380px)
			max-width: 380px
		&-container
			width: 100%
			p, ul
				margin-bottom: 20px
				font-weight: 400
				font-size: 18px
				line-height: 30px
				@media (max-width: 1024px)
					font-size: 16px
					line-height: 24px
					margin-top: 10px
				@media (max-width: 380px)
					font-size: 15px
					line-height: 21px
			ul
				li
					list-style-type: disc
					list-style-position: inside
		&-img
			background: url('../assets/img/blog/cms.png')
			background-size: contain
			background-repeat: no-repeat
			position: relative
			height: 335px
			width: 500px
			margin: 20px auto 40px
			@media (max-width: 740px)
				height: 220px
				width: 300px
				margin: 20px auto 10px
			@media (max-width: 380px)
				width: 280px
				height: 200px
		&-date
			margin-top: 80px
			display: flex
			justify-content: space-between
			@media (max-width: 740px)
				flex-direction: column
			@media (max-width: 380px)
				margin-top: 40px
		&-tags
			display: flex
			gap: 15px
			@media (max-width: 740px)
				margin-top: 20px
				flex-wrap: wrap
				justify-content: center
				gap: 10px
		&-tag
			display: flex
			flex-direction: row
			color: $orange
		&-tag:before
			content: '\0023'
			display: block
			position: relative
			color: $orange
		&-time
			display: flex
			align-items: center
			@media (max-width: 380px)
				justify-content: center
		&-time:before
			content: ''
			display: inline-block
			position: relative
			background: url('../assets/svg/time.svg')
			background-size: contain
			background-repeat: no-repeat
			height: 26px
			width: 26px
			margin-right: 5px
		&-sorting
			display: flex
			flex-wrap: wrap
			justify-content: center
			gap: 10px
			@media (max-width: 1024px)
				justify-content: center
				gap: 0px
		&-link
			display: inline-block
			padding: 8px 20px
			margin: 10px 0px
			border: 1px solid #2F3338
			border-radius: 30px
			font-weight: 400
			font-size: 18px
			@media (max-width: 1439px)
				padding: 8px 20px
				margin: 5px 0px
			@media (max-width: 1239px)
				font-size: 16px
			@media (max-width: 1024px)
				margin: 5px 5px
			@media (max-width: 740px)
				margin: 5px 7px
				font-size: 15px
				padding: 0px 0px
				font-weight: 400
				border: none
				display: flex
				flex-direction: row
				color: $orange
		&-link:before
			@media (max-width: 740px)
				content: '\0023'
				display: block
				position: relative
				color: $orange
				margin-right: 3px
		&-link:before:hover
			@media (max-width: 740px)
				content: '\0023'
				display: block
				position: relative
				color: $orange
				margin-right: 3px
		&-link:hover
			color: $wgrey
			background: $black
			transition-duration: 0.1s
			@media (max-width: 740px)
				color: black
				background: $wgrey
		&-link:active
			color: $wgrey
			background: $black
			@media (max-width: 740px)
				color: black
				background: $wgrey
		&-title
			text-align: center
			margin: 30px auto
		&-subtitle
			text-align: center
			font-weight: 400
			font-size: 18px
			line-height: 24px
			@media (max-width: 740px)
				font-size: 16px
				br
					display: none
		&-text
			font-weight: 400
			font-size: 18px
			line-height: 24px
			max-width: 504px
			@media (max-width: 1239px)
				font-size: 16px
				max-width: 400px
			@media (max-width: 1024px)
				margin-bottom: 20px
				text-align: center
		&-subscription
			display: flex
			flex-wrap: wrap
			align-items: center
			margin: 60px 0px 50px
			@media (max-width: 1239px)
				justify-content: space-between
			@media (max-width: 1024px)
				margin: 30px 0px 30px
				flex-direction: column
		&-example
			display: flex
			flex-direction: row
			justify-content: space-between
			width: 518px
			background: #F1F0F0
			border: 2px solid rgba(47, 51, 56, 0.5)
			border-radius: 40px
			padding: 5px 15px 5px 30px
			font-weight: 300
			font-size: 18px
			line-height: 24px
			@media (max-width: 740px)
				font-size: 15px
				line-height: 17px
				width: 100%
			@media (max-width: 380px)
				padding: 5px 10px 5px 20px
		&-input
			border: none
			background: #F1F0F0
			@media (max-width: 1024px)
				font-size: 16px
			@media (max-width: 740px)
				font-size: 15px
			@media (max-width: 380px)
				width: 50%
			&-input
				outline: none
.subscription-container
	position: relative
	max-height: 125px
	max-width: 520px
	@media (max-width: 740px)
		max-height: 125px
		max-width: 100%
	img
		position: absolute
		right: 0px
		top: -56px
		@media (max-width: 740px)
			display: none
.note
	&__block
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 0px 100px 80px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 0px 30px 60px
		@media (max-width: 1024px)
			max-width: 1024px
			padding: 0px 20px 50px
		@media (max-width: 740px)
			display: flex
			flex-direction: column
			align-items: center
			max-width: 740px
			padding: 0px 20px 40px
		@media (max-width: 380px)
			max-width: 380px
		&-grid
			row-gap: 40px
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			@media (max-width: 1239px)
				row-gap: 15px
#button-subscription
	display: flex
	align-items: center
	@media (max-width: 380px)
		width: 110px
		font-size: 14px
		height: 40px
#button-note
	margin: 0 auto
	margin-top: 30px
.publication-hr
	margin: 5px auto
.casses
	&__block
		display: flex
		flex-direction: column
		align-items: center
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 160px 100px 0px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 100px 30px 0px
		@media (max-width: 1024px)
			max-width: 1024px
			padding: 80px 20px 0px
		@media (max-width: 740px)
			max-width: 740px
			padding: 100px 20px 0px
		@media (max-width: 380px)
			max-width: 380px
		&-grid
			margin-top: 50px
			@media (max-width: 740px)
				margin-top: 20px
		&-title
			text-align: center
			margin-bottom: 20px
		&-subtitle
			text-align: center
			max-width: 460px
			margin: 0 auto
			font-weight: 400
			font-size: 18px
			line-height: 24px
			@media (max-width: 740px)
				font-size: 16px
				line-height: 18px
		&-img
			background: url('../assets/svg/scroll.svg')
			background-size: contain
			background-repeat: no-repeat
			position: relative
			height: 24px
			width: 16px
			margin-top: 20px
.casses-hr
	width: 100%
	height: 0px
	border: 1px solid rgba(47, 51, 56, 0.3)
	margin: 40px auto
	display: inline-block
.casses-contact__form
	margin-top: 40px
.services
	&__block
		display: flex
		flex-direction: column
		align-items: center
		max-width: 1440px
		box-sizing: border-box
		margin: 0 auto
		padding: 160px 100px 0px
		@media (max-width: 1239px)
			max-width: 1240px
			padding: 100px 30px 0px
		@media (max-width: 1024px)
			max-width: 1024px
			padding: 80px 20px 0px
		@media (max-width: 740px)
			max-width: 740px
			padding: 100px 20px 0px
		@media (max-width: 380px)
			max-width: 380px